@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

@font-face{
    src: url('../perso/font/Dongle-Regular.ttf');
    font-family: 'Dongle', cursive
}

/* body{
    padding: 20px;
} */

/* Conception de la grille */
#conteneur {
    /* Grille de mise en page */
    display: grid;
    grid-template-columns: repeat(3,200px);
    gap: 10px;
    justify-content: center;
    /* Mise en forme */
    width: 800px;
    margin: 25%;
}
#conteneur > article:first-child,
#conteneur > article:nth-last-child(2) {
    grid-column: span 2;
}
/* Mise en forme des cartes */
article {
    display: grid;
    flex-direction: column;
}
.texte {
    flex: 1;
}
/* Mise en forme */
#conteneur > article {
    border: 1px solid #041937;
    box-shadow: 2px 2px 6px 0px  #ff5b31;
    justify-content: center;
}
#conteneur > article img {
    max-width: 40%;

}
.texte {
    padding: 0 20px 20px;
    color: #ff5b31;
}
button {
    background: #041937;
    border: 0;
    color: #ff5b31;
    padding: 5px;
}





